@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

/*ID CLASS*/
#logo{
	height: 100px;
}

.title{
	padding: 10px 0;
	width: 100%;
	text-align: center;
}

#form{	
	display: flex;
	justify-content: center;
}

#info{
	float: left;
	max-width: 850px;
	min-width: 300px;
	width: auto;
	height: 225px;
	margin: 20px 0 20px 10px;
	padding-left: 20px;
	border-radius: 20px;
}

#ig{
	background-color: rgba(148, 220, 220, 0.432);
}

.icon{
	height: 20px;
}

.myinfo{
	background-color: #FFF;
}

#container{
	text-align: center;
}

#container img{
	max-width: 70%;
	width: auto;
	height: auto;
}

/*項目設計*/
form{
	line-height: 3em;
	display: flex;
	align-items: center;
	flex-direction: column;
}

form input{
	padding:5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

img{
	border-radius: 20px;
}

fieldset{
	width: 720px;
	border-radius: 10px;
}

label{
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 20px ;
}

button{
	background-image: -webkit-linear-gradient(top, #fefefe, #91999ed7);
	background-image: -moz-linear-gradient(top,  #fefefe, #91999ed7);
	background-image: -ms-linear-gradient(top,  #fefefe, #91999ed7);
	background-image: -o-linear-gradient(top,  #fefefe, #91999ed7);
	background-image: linear-gradient(to bottom,  #fefefe, #91999ed7);
	border-radius: 14px;
	color: #240808;
	padding: 5px;
	text-decoration: none;
}

button:hover{
	background-image: -webkit-linear-gradient(top, #91999ed7, #fefefe);
	background-image: -moz-linear-gradient(top, #91999ed7, #fefefe);
	background-image: -ms-linear-gradient(top, #91999ed7, #fefefe);
	background-image: -o-linear-gradient(top, #91999ed7, #fefefe);
	background-image: linear-gradient(to bottom, #91999ed7, #fefefe);
	text-decoration: none;
}

/*框架*/	

body, html{
	height: 100%;
  	margin: 0;
	padding: 0;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #FFF6E3;
	font-family: ‘cwTeXYen’ ,‘Arial’, sans-serif;
}

header{
    display: flex;
	margin: 10px 10% 10px 10%;
	padding: 10px 5px;

}

header nav{
	max-width: 100%;
	width: auto;
	max-height: 100%;
	letter-spacing: 3px;
	padding: 5% 0 0 1%;
}

header nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

header nav ul li {
    display: inline-block;
	float: none;
	white-space: nowrap;
	margin-right: 8px;
}

header nav ul li a{
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: #eee;
	line-height: 30px;
	font-size: 20px;
	background-color: #000;
	border-radius: 6px;
}

header nav ul li ul a {
	background-color: #46485473;
}

header nav a:hover {/*整個選單連結滑鼠移上去時的樣式*/
	color: #FFF;
	background-color: #555;
	transition: all .2s ease;
}

header nav ul ul {/*第一層子選單展開*/
	position: absolute;
	transition-property: transform;
	transition-duration: 20ms;
	transition-timing-function: ease-in;
	transition-delay: 200ms;
	transform: scale(1,0);
	transform-origin: top center;
}
header nav ul li:hover>ul {/*選單滑鼠移上去的樣式變化*/
	display: inherit;
	transition: all 300ms ease;
	transform: scale(1,1);
}
header nav ul ul li {/*第一層子選單的樣式*/
	min-width: 170px;
	display: list-item;
	position: relative;
}

main{
	max-width: 90%;
	width: auto;
    display: flex;
	align-content: center;
	flex-direction: column;
    margin: 10px 10%;
    background-color: rgba(255, 255, 255, 0.788);
	border-radius: 10px;
}

main img{
    height: 600px;
    margin: 10px auto;
}

article h1{
	font-size: 2em;
}

article h2{
	font-weight: 100;
}

div h1{
	line-height: 0px;
}

div h3{
	color: gray;
}

div h4{
	line-height: 10px;
}

aside{
	float: left;
	width: 250px;
	text-align: center;
	border-radius: 20px;
	margin: 20px 0 20px 20px;
}

aside img{
	border-radius: 40px;
	height: 200PX;
}


section{
	text-align: center;
}

footer{
	background-color: #E0E8C1;
	text-align: center;
}


footer li {
    display: inline;
	padding-right: 1px;
	color: #783e3e;
}

@media (max-width:960px) {
	header nav ul li{
		margin-top: 5px;
		margin-left: 5px;
	}


	main{
		flex-wrap:nowrap;
	}
	
	#ig, #myinfo{
		margin-left: 30%;
	}
	
	#info{
		margin-left: 20%;
	}

	fieldset{
		width: 520px;
	}

}

@media (max-width: 700px) {
	fieldset{
		width: 300px;
	}

	#ig, #myinfo{
		margin-left: 20%;
	}

	#info{
		margin-left: 10%;
	}

	label{
		width: 100px;
		text-align: right;
		margin-right: 10px;
	}

}

@media (max-width:500px) {
	
}
	

